/*
* about page
*/

	/*
	* wrapper
	*/

		.container.about-wrapper{
			font-family: 'Lato';
			padding-top:60px;
			background: #FFF;
			width: 100%;  
			padding:0px 30px 0px 30px;
			margin-top:-20px;
			/*
			* the author
			*/
		
				.author{
					padding:10px;
				}

			/*
			* author social medias
			*/
		
				.socials{
					text-align:center;
					padding-bottom:30px;				
					a{
						color: #000;
						font-size:35px; 
						padding:0px 20px 0px 20px;
						
						&:hover{
							color: #C0392B; 
							transition: ease-in-out 0.2s all;
						}

						&:not(:hover){
							transition: ease-in-out 0.2s all;
						}
					}
				}
		}