/**
* events stylesheet
*/

	/**
	* app events wrapper
	*/

		.container-fluid.events-wrapper{
			margin-top:-1px;
			margin-bottom:10px;
			width: 100%;
			.filter-header{
				background: #FFF;
				padding:10px;
				height:80px;
				background: #34495e; 
				color: #fff;
				
				.container{
					width: 86%; 
				}
				.filter{
					
					a{
						
						color: #FFF; 
					}
				}
			}

			.events{
				background: #FFF; 
				
				.container{
					width: 86%;
				}
				
				.event{
					width: 93%;
					margin-top:10px;
					margin-bottom:10px;
					
					.body{
						border:1px solid #3498DB; 
					}
				} 
			}
		}