/**
* events stylesheet
*/

	/**
	* app events wrapper
	*/

		.container-fluid.events-wrapper{
			margin-top:10px;
			margin-bottom:10px;
			width: 65%;
			font-family: 'Lato';
			.filter-header{
				background: #FFF;
				padding:10px;
				
				.filter{
					margin-left: 10px; 
					
					a{
						color: #000;
					}
				}
			}

			.events{
				background: #FFF; 
				
				.event{
					width: 93%;
					margin-top:10px;
					margin-bottom:10px;
					
					.body{
						border:1px solid #3498DB; 
					}
				} 
			}
		}