/**
* events stylesheet
*/

	/**
	* app events wrapper
	*/

		.container-fluid.app-events-wrapper{
			height:auto;
			width: 100%;
			/**
			* events inner wrapper
			*/ 

				.events-inner-wrapper{
			
					/**
					* events header wrapper
					*/

						.events-header-wrapper{
							height:45px;
							border-bottom:1px solid #000;
							width: 75%;
							margin-top:0px;
							/**
							* events header => desktop
							*/ 

								.events-header{
									padding: 0px;  
									
									/**
									* search evnts field
									*/


								}

							/**
							* events header => mobile
							*/

								.mobile-events-header{
									
								}
						}

					/**
					* events content wrapper
					*/

						.events-content-wrapper{
							@extends .events-header-wrapper;
							margin-top:-20px;
							/**
							* timeline wrapper
							*/

								.timeline-wrapper{
									list-style:none;
									padding:20px 0 20px;
									position:relative;
									
									/**
									* before
									*/

										&:before{
											top: 0;
											bottom: 0;
											position: absolute;
											content: " ";
											width: 3px;
											background: #eeeeee;
											left: 25px;
											margin-right: -1.5px; 
										}

									/**
									* timeline item
									*/

										.timeline-item{
											margin-bottom: 240px;
											position: relative;
											
											/**
											* before
											*/

												&:before{
													display: table;
													content: " "; 
												}

											/**
											* after
											*/

												&:after{
													clear: both; 
												}

											/**
											* badge/avatar
											*/

												.timeline-avatar-badge{
													color: #FFF;
													width: 50px;
													height: 50px;
													line-height: 50px;
													font-size: 6px;
													text-align: center;
													position: absolute;
													top: 16px;
													left: 0px;
													margin-right: -25px;
													background-color: #999999;
													z-index: 100;
													border-top-right-radius: 50%;
										    		border-top-left-radius: 50%;
										    		border-bottom-right-radius: 50%;
										    		border-bottom-left-radius: 50%;
												}

											/**
											* timeline panel
											*/

												.timeline-panel{
													width: 65%;
													float: left;
													border: 1px solid #d4d4d4;
													-webkit-border-radius: 2px; 
													border-radius: 2px; 
													padding: 20px;
													position: relative;
													-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
										    		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
													left: 8%;	

													/**
													* before
													*/

														&:before{
															position: absolute;
															top: 26px;
															left: -15px;
															display: inline-block;
															border-top: 15px solid transparent;
														    border-right: 15px solid #ccc;
														    border-left: 0 solid #ccc;
														    border-bottom: 15px solid transparent;
														    content: " ";
														}
												}
										}
								}
						}
				}
		}