/**
 * forum page
 */

	/**
	 * main wrapper
	 */
	
		.forum-wrapper{
			height: 100%;
			width: 100%;
			
			/**
			 * header
			 */
			
				.forum-header{
					height:80px;
					background: #34495e; 
					color: #fff; 
					margin-top:-1px;
					.container{
						width:89.1%;
						

						.filter-container{
							margin-left: 53.3%; 
						}
					}
				}

			/**
			 * threads container
			 */
			
				.threads-container{
					min-height:600px;
					color: #fff; 
					.container{width:86%;}
					.contents{
						min-height: 550px; 

						.thread-header{
							background: #2980b9;
							height:55px;
						}

						.thread-body{
							border:1px solid #2980b9;
							min-height:150px;
							color: #000; 
							
							.row{
								border-bottom:1px solid #ececec;
								
								.thread-desc{
									color: #777; 
								}
							}
						}
					}
				}
		}
