/**
*	main page content styles
*/

	/**
	*	content banner wrapper
	*/

		.container-fluid.content-wrapper{
			min-height:500px;
			width: 100%; 
			margin-top:-20px;
			font-size: 12px;
			a{
				color: #000; 
			}

			/*
			* welcome user container
			*/
		
				.welcome-user-container{
					width: 100%; 
					padding:20px;
					border:1px solid #ECECEC; 
					margin-bottom:10px;
					margin-top:20px;
					background: #fff;
					.userimage{
						img{
							height: 55px;
							width: 55px;
						}
					}

					.welcomeMessage{
						p{
							font-size: 12px;
							display:inline;
							margin-left:10px;
						}
					}
				}

			/**
			*	sidebar
			*/ 
				
				.sidebar-partial{
					padding:70px;
					background: #fff; 
					width: 16.4%; 
					margin:40px 0px 0px 50px;
					border: 1px solid #ddd;
					.link-container{
						margin-bottom:25px;
					}
				}

			/**
			*	right sidebar
			*/

				.right-content{
					min-height: auto; 
					background: #fff; 
					width: 100%; 
					padding: 34px;
					border:1px solid #ddd;
					/**
					*	rows
					*/

						.latest-events-row{
							.event-row{
								margin-top:10px;
								border-bottom:1px solid #000;
								border:none;
								
								
								&:after{
									margin:15px 0px 15px 0px;
								}

								.event-user-info{
									padding-top:20px;
									img{
										border:2px solid #8e44ad; 
										-webkit-border-radius: 50px 50px 50px 50px; 
										border-radius: 50px 50px 50px 50px; 
										    
										&:hover{
											border-color:#2ecc71;
											-webkit-transition:ease-in-out 0.2s all;
											-moz-transition:ease-in-out 0.2s all;
											-ms-transition:ease-in-out 0.2s all;
											-o-transition:ease-in-out 0.2s all;
											transition:ease-in-out 0.2s all;
										}
									}

								}
							}
						}
				}
		}