/**
*	main page content styles
*/

	/**
	*	content banner wrapper
	*/

		.container-fluid.content-wrapper{
			min-height:500px;
			width: 100%;
			background: #bdc3c7; 
			padding-top: 50px;
			
			a{
				color: #FFF; 
			}
			/**
			*	left sidebar
			*/ 

				.left-sidebar{
					min-height:900px;
					padding: 40px; 
					background: #2c3e50; 
					color: #fff; 
					/**
					*	rows
					*/

						.row{
							border-bottom:1px solid #8e44ad;
						}

					/*
					*	all events
					*/
				
						.latest-event-row{
							padding:10px;
							border:none;
							/*
							* event
							*/
						
								.event{
									padding:10px;
								}
						}
				}

			/**
			*	right sidebar
			*/

				.right-sidebar{
					min-height: 900px; 
					padding:40px;
					background: #2c3e50;
					/**
					*	rows
					*/

						.latest-registered-users-row{
							
							color: #fff;  
							padding: 20px;
							.user-row{
								margin-top:10px;
								border-bottom:1px solid #000;
								border:none;	
								&:after{
									margin:15px 0px 15px 0px;
								}

								img{
									border:2px solid #8e44ad; 
									-webkit-border-radius: 50px 50px 50px 50px; 
									border-radius: 50px 50px 50px 50px; 
									    
									&:hover{
										border-color:#2ecc71;
										-webkit-transition:ease-in-out 0.2s all;
										-moz-transition:ease-in-out 0.2s all;
										-ms-transition:ease-in-out 0.2s all;
										-o-transition:ease-in-out 0.2s all;
										transition:ease-in-out 0.2s all;
									}
								}
							}
						}
				}
		}