/**
*	Blood Division Login page
*/

	/**
	*	Wrapper
	*/

		.container-fluid.bloodDivisionLoginWrapper{
			//margin:50px 50px 50px 50px;
			background: #f6f6f6;
			opacity: 0.9;  
			
			/**
			*	Login Form
			*/ 

				.bloodDivisionLoginForm{
					margin: 80px;
					opacity: 1;
					/**
					*	name input
					*/

						.bloodDivisionNameInputRow{
							margin: 0px 0px 40px;
						}
				}
		}