/**
*	Blood Division Login page
*/
	@-webkit-keyframes btnWitdh{
		from{
			width:0px;
		}
		to{
			width:100px;
		} 
	} 

	.auth-btn{
		border: none;
		-webkit-border-radius: 0px 0px 0px 0px; 
		 border-radius: 0px 0px 0px 0px; 
		&:hover{
			background: #EE7326; 
			-webkit-transition:ease-in-out 0.2s all;
			-moz-transition:ease-in-out 0.2s all;
			-ms-transition:ease-in-out 0.2s all;
			-o-transition:ease-in-out 0.2s all;
			transition:ease-in-out 0.2s all;
		}

		&:not(:hover){
			-webkit-transition:ease-in-out 0.2s all;
			-moz-transition:ease-in-out 0.2s all;
			-ms-transition:ease-in-out 0.2s all;
			-o-transition:ease-in-out 0.2s all;
			transition:ease-in-out 0.2s all;
		}
	}

	.login-email-tutorial{
		position:fixed;
		bottom:0px;
		left:0px;
		height: 65px;
		width: 100%;
		background: #2ecc71;
		color: #fff;
		text-align:center;    
		padding:15px;
	}

	.login-password-tutorial{
		position:fixed;
		bottom:0px;
		left:0px;
		height: 65px;
		width: 100%;
		background: #2ecc71;
		color: #fff;
		text-align:center;    
		padding:15px;
		
	}

	.warning-hint{
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 65px;
		width: 100%;
		color: #FFF;
		text-align: center;
		padding:15px;
		background: #e74c3c;
		
		/**
		 * closing hint btn
		 */
		
		.closeErrorBtn{
			cursor:pointer;
		}
	}

	/**
	* helper modal
	*/

		.modal{
			color: #FFF;
			background: #000;
			opacity: 0.9;  
			
			/**
			* close btn
			*/

				.close {
				    font-size: 50px;
				    display:block; 
				    color: #FFF;
				    /**
				    * closing icon
				    */ 

				    .fa{
				    	color: #FFF; 
				    }
				}
		}

		.auth-login-helper{
			cursor:pointer;
		}