.btn{
	-webkit-border-radius: 0px 0px 0px 0px; 
	border-radius: 0px 0px 0px 0px;
	background: #f39c12;
	text-decoration: uppercase;
	border:none;
	
	&:hover{
		background: #e74c3c;
		color: #FFF; 
		-webkit-transition:ease-in-out 0.2s all;
		 -moz-transition:ease-in-out 0.2s all;
		 -ms-transition:ease-in-out 0.2s all;
		 -o-transition:ease-in-out 0.2s all;
		 transition:ease-in-out 0.2s all; 
	}

	&:not(:hover){
		-webkit-transition:ease-in-out 0.2s all;
		 -moz-transition:ease-in-out 0.2s all;
		 -ms-transition:ease-in-out 0.2s all;
		 -o-transition:ease-in-out 0.2s all;
		 transition:ease-in-out 0.2s all; 
	}
}

.form-control{
	-webkit-border-radius: 0px 0px 0px 0px; 
	border-radius: 0px 0px 0px 0px;
	border:none;
	background: #BDC3C7; 
	
	&:placeholder-shown{
		color: #fff; 
	}
}
/**
* profile stylesheet
*/



 	/**
 	* profile wrapper
 	*/

 		.container-fluid.profile-banner-wrapper{
 			height:auto;
 			width: 100%;
 			padding:40px 40px 0px 40px;
 			background: #777;
 			padding-top:100px;
 			color: #e9eaed; 
 			margin-top:-20px;
 			/**
 			* inner profile wrapper
 			*/

 				.inner-profile-wrapper{
 					width:65%;
 					color: #FFF; 
 					/**
 					* the banner 
 					*/
 				
 					/**
 					 * edit cover 
 					 */
 					
 						.edit-profile-cover{
 							position: absolute;
						    top: 55px;
						    left: -68px;
						    padding: 5px;
						    background: #fff; 
						    color: #000; 
						    
						    &:hover{
						    	left: 0px;
						    	-webkit-transition:ease-in-out 0.2 all;
						    	-moz-transition:ease-in-out 0.2 all;
						    	-ms-transition:ease-in-out 0.2 all;
						    	-o-transition:ease-in-out 0.2 all;
						    	transition:ease-in-out 0.2 all;
						    }

						    &:not(:hover){
						    	-webkit-transition:ease-in-out 0.2 all;
						    	-moz-transition:ease-in-out 0.2 all;
						    	-ms-transition:ease-in-out 0.2 all;
						    	-o-transition:ease-in-out 0.2 all;
						    	transition:ease-in-out 0.2 all;
						    }
 						}

 						.banner{
 							height: 100%;
 							width: 100%;
 							color: #FFF; 
 							/**
 							* profile-media
 							*/

 								.profile-media{
 									
									/**
									* profile image
									*/

										.profile-image{
											height:200px;
											width: 200px; 
											margin: 0px 25px 0px 25px;
											border:10px solid #34495e;
											
											&:hover{
												border-color:#13747D;
												-webkit-transition:ease-in-out 0.2s all;
												-moz-transition:ease-in-out 0.2s all;
												-ms-transition:ease-in-out 0.2s all;
												-o-transition:ease-in-out 0.2s all;
												transition:ease-in-out 0.2s all;
											}

											&:not(:hover){
												-webkit-transition:ease-in-out 0.2s all;
												-moz-transition:ease-in-out 0.2s all;
												-ms-transition:ease-in-out 0.2s all;
												-o-transition:ease-in-out 0.2s all;
												transition:ease-in-out 0.2s all;
											}
										}

 									/**
		 							* profile edit btn
		 							*/

		 								.edit-profile{
											padding-top:3px;
											
											/**
											* edit img link
											*/

												.edit-img-link{
													height:auto;
													width: auto;
													color: #000; 
												    padding: 10px 41px 10px 22px;
    												margin: -3px 0px 0px 40px;
    												color: #FFF; 
													/**
													* hover class
													*/

														&:hover{
															background: #34495e;
															opacity: 0.8;
															color: #FFF; 
															-webkit-transition:ease-in-out 0.2s all;
															-moz-transition:ease-in-out 0.2s all;
															-ms-transition:ease-in-out 0.2s all;
															-o-transition:ease-in-out 0.2s all;
															transition:ease-in-out 0.2s all;
														}

													/**
													* not hover class
													*/

														&:not(:hover){
															-webkit-transition:ease-in-out 0.2s all;
															-moz-transition:ease-in-out 0.2s all;
															-ms-transition:ease-in-out 0.2s all;
															-o-transition:ease-in-out 0.2s all;
															transition:ease-in-out 0.2s all;
														}
												}
		 								}
 								}
 							
 							

 							/**
 							* profile-information
 							*/

 								.profile-information{
 									
 									/**
 									* user name
 									*/

 										.profile-name{
 											padding-bottom: 0px;
										    margin-bottom: 27px;
										    margin-top: -20px;
										}
 								}

 							/**
 							* the banner footer
 							*/

 								.banner-footer-wrapper{
 									height:50px;
 									margin-top:70px;
 								
 									
 									/**
 									* inner banner-footer-wrapper
 									*/

 										.inner-banner-footer-wrapper{
 											padding:15px;
 											
 											/**
 											* profile-list
 											*/

 												.profile-listing{
 													padding:0px;
 													
 													/**
 													* the link container
 													*/

 														.profile-link{
 															height: 100%;
 										 					padding-left:20px;
 										 					
															/**
															* link
															*/

																a{
																	color: #fff;
																	font-size: 12px;  
																}
 														}
 												}
 										}
 								}
 						}
 				}
 		}

 	/**
 	* the profile content wrapper
 	*/

 		.container-fluid.profile-content-wrapper{
 			width: 100%;
 			height: auto;
 			background: #E9EAED;
 			padding:0px 0px 10px 0px;
 			/**
 			* inner profile content wrapper
 			*/ 

 				.inner-profile-content-wrapper{
 					width:90%;
 					height:auto;
 					font-size:12px;
 					padding-top:20px;
 					/**
 					 * home content wrapper
 					 */
 					
 						/**
						 * description container
						 */
						
							.about-profile{
								padding: 25px;
								background: #FFF; 
								
								.row{
									padding-bottom:10px;
									border-bottom:1px solid #E9EAED;
								}
								.buttons{
									padding-top:20px;
									height: 50px;
									width: 100%; 
								}

								.user-description{
									width: 100%;
									height: auto;
									
									.edit_description_form{
										margin-top:20px;
										border-top:1px solid #E9EAED;
										
										.submit{
											color: #fff;
										} 
									}
								}
							}
 					
 					
					/**
					* the events wrapper
					*/

						.events-wrapper{
							padding-top:10px;
							/**
							* event
							*/

								.event{
									
								}

							/**
							* no events container
							*/

								.no-events-container{
									
									/**
									* font awesome exclamation circle icon
									*/

										.fa-exclamation-circle{
											font-size: 50px;
										}
								}
						}

					/**
					* timeline 
					*/

						.profile-timeline{
							list-style: none;
						    padding: 20px 0 20px;
						    position: relative;
						    
						    /**
						    * before
						    */

						    &:before{
						    	top: 0;
							    bottom: 0;
							    position: absolute;
							    content: " ";
							    width: 3px;
							    background-color: #eeeeee;
							    left: 25px;
							    margin-right: -1.5px;
						    }

						    /**
						    * timeline item
						    */

						    	.timeline-item{
						    		margin-bottom: 240px;
    								position: relative;
    								
    								&:before{
    									display: table;
   										content: " ";
    								}
    								
    								&:after{
    									clear: both;
    								}
    								
    								/**
    								* badge
    								*/

    									.timeline-badge{
    										color: #fff;
										    width: 50px;
										    height: 50px;
										    line-height: 50px;
										    font-size: 1.4em;
										    text-align: center;
										    position: absolute;
										    top: 16px;
										    left: 0px;
										    margin-right: -25px;
										    background-color: #999999;
										    z-index: 100;
										    border-top-right-radius: 50%;
										    border-top-left-radius: 50%;
										    border-bottom-right-radius: 50%;
										    border-bottom-left-radius: 50%;
    									}

    								/**
    								* timeline panel
    								*/

    									.timeline-panel{
    										width: calc( 100% - 75px );
										    float: right;
										    border: 1px solid #d4d4d4;
										    border-radius: 2px;
										    padding: 20px;
										    position: relative;
										    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
										    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
										    
										    /**
										    * before
										    */

										    &:before{
										    	position: absolute;
											    top: 26px;
											    left: -15px;
											    display: inline-block;
											    border-top: 15px solid transparent;
											    border-right: 15px solid #ccc;
											    border-left: 0 solid #ccc;
											    border-bottom: 15px solid transparent;
											    content: " ";
										    }
    									}
						    	}
						}

					/**
					* create event wrapper
					*/

						.create-event-wrapper{
							padding-top: 10px;
							
							/**
							* helper modal
							*/

								.modal{
									color: #FFF;
									background: #000;
									opacity: 0.9;  
									
									/**
									* close btn
									*/

										.close {
										    font-size: 50px;
										    display:block; 
										    
										    /**
										    * closing icon
										    */ 

										    .fa{
										    	color: #FFF; 
										    }
										}
								}
						}

					/**
					* create-profile-event
					*/

						.create-profile-event{
							color: #000;
							
							&:hover{
								border-color:#e74c3c;
								color: #fff; 
								background: #e74c3c;
								-webkit-transition: ease-in-out 0.2s all; 
								-moz-transition: ease-in-out 0.2s all; 
								-ms-transition: ease-in-out 0.2s all; 
								-o-transition: ease-in-out 0.2s all; 
								transition: ease-in-out 0.2s all; 
							}

							&:not(:hover){
								-webkit-transition: ease-in-out 0.2s all; 
								-moz-transition: ease-in-out 0.2s all; 
								-ms-transition: ease-in-out 0.2s all; 
								-o-transition: ease-in-out 0.2s all; 
								transition: ease-in-out 0.2s all; 
							}
						}

					/**
					 * profile game wrapper
					 */
					
						.profile-game-container{
							padding-top:10px;
							box-shadow: 0px 2px 2px 2px #000;
							margin-bottom:30px;
							&:hover{
								background: #eee; 
							}

							/**
							 * game cover wrapper
							 */
							
								.game-cover{
 									min-height:132px;
 									
 									/**
 									 * add game cover
 									 */

 										.add-game-cover{
 											background: #02483E;
 											min-height:128px;
 											color: #fff; 
 											padding-top:40px;
 											padding-left:10px;
 											
 											&:hover{
 												background: #2ecc71;
 												cursor:pointer;
 												-webkit-transition:ease-in-out 0.2s all;
 												 -moz-transition:ease-in-out 0.2s all;
 												 -ms-transition:ease-in-out 0.2s all;
 												 -o-transition:ease-in-out 0.2s all;
 												 transition:ease-in-out 0.2s all; 
 											}

 											&:not(:hover){
 												-webkit-transition:ease-in-out 0.2s all;
 												 -moz-transition:ease-in-out 0.2s all;
 												 -ms-transition:ease-in-out 0.2s all;
 												 -o-transition:ease-in-out 0.2s all;
 												 transition:ease-in-out 0.2s all; 
 											}
 											/**
 											 * add game cover button
 											 */
 											
	 											.add-game-cover-btn{
		 											width: 100%;
		 											height: 100px; 
	 											}
 										}
 								}
						}

					/**
					 * adding game row
					 */
					
						.add-game-row{
							margin:10px 0px 10px 0px;
							
							/**
							 * add game form
							 */
							
								.add-game-form{
									
								}
						}
 				}
 		}