/**
 * the registration page
 */
		/**
		 * hints 
		 */
			
			/**
			 * the name hint
			 */
			
			.register-hint{
				position:fixed;
				bottom:0px;
				left:0px;
				height: 65px;
				width: 100%;
				background: #2ecc71;
				color: #fff;
				text-align:center;    
				padding:15px;
			}

		/**
		 * errors
		 */
		
			.warning-hint{
				position:fixed;
				bottom:0px;
				left:0px;
				height: 65px;
				width: 100%;
				background: #e74c3c;
				color: #fff;
				text-align:center;    
				padding:15px;
				
				.closeErrorBtn{
					cursor:pointer;
				}
			}

	/**
	* helper modal
	*/

		.modal{
			color: #FFF;
			background: #000;
			opacity: 0.9;  
			
			/**
			* close btn
			*/

				.close {
				    font-size: 50px;
				    display:block; 
				    color: #FFF;
				    /**
				    * closing icon
				    */ 

				    .fa{
				    	color: #FFF; 
				    }
				}
		}