/**
*	Team view styles
*/

	/**
	*	memmbers wrapper	
	*/

		.container-fluid.members-content-wrapper{
			min-height:auto;
			width: 100%;
			padding: 75px 25px 25px 25px; 
			
			/**
			*	members-row
			*/

				.members-row{
					
					/**
					*	member wrapper
					*/

						.member-wrapper{
							padding:20px;
							background:#2c3e50;
							border:5px solid #fff;
							color: #FFF; 
							
							&:hover{
								background: #ddd; 
								color: #000; 
								-webkit-transition:ease-in-out 0.2s all;
								-moz-transition:ease-in-out 0.2s all;
								-ms-transition:ease-in-out 0.2s all;
								-o-transition:ease-in-out 0.2s all;
								transition:ease-in-out 0.2s all;
							}

							&:not(:hover){
								-webkit-transition:ease-in-out 0.2s all;
								-moz-transition:ease-in-out 0.2s all;
								-ms-transition:ease-in-out 0.2s all;
								-o-transition:ease-in-out 0.2s all;
								transition:ease-in-out 0.2s all;
							}

							.member-picture-wrapper{
								.img{
									border:1px solid #000;
									height:200px;
									width: 200px;
								}
							}
						}
				}
		}