/*
* SCSS mixin for transition usage
*/

	/*
	*	define mixin
	*/
		
		@mixin transition($transition)
		{
			
			-webkit-transition:$transition;
			-moz-transition:$transition;
			-ms-transition:$transition;
			-o-transition:$transition;
			transition:$transition;
			
		}