/**
*	application main stylesheet
*/
* {
  box-sizing: border-box; }

/*
*	Base Variables
*	Assembling Colors
*	
*/
/*
*	structure components variables
*/
/*
* SCSS mixin for border radius  use
*/
/*
	*	define mixin
	*/
/*
*	SCSS mixin for box shadow
*/
/*
	*	define mixin
	*/
/**
*	button mixin wrapper
*/
/**
	*	create a mixin that overwrites twitter bootstrap btn class properties
	*/
/*
* SCSS mixin for image usage
*/
/*
	*	define mixin
	*/
/*
* SCSS mixin for opacity usage
*/
/*
	*	define mixin
	*/
/*
* SCSS mixin for transition usage
*/
/*
	*	define mixin
	*/
/**
*	Blood Division main appilcation partials
*/
/**
*	blood division footer
*/
/**
	*	footer wrapper
	*/
.blooddivision-footer-wrapper {
  font-size: .9em;
  height: auto;
  width: 100%;
  background: #000;
  color: #FFF;
  padding: 20px;
  /**
			*	inner footer wrapper
			*/ }
  .blooddivision-footer-wrapper .inner-footer-wrapper {
    width: 100%; }
    .blooddivision-footer-wrapper .inner-footer-wrapper ul {
      list-style-type: none;
      padding: 0px; }
      .blooddivision-footer-wrapper .inner-footer-wrapper ul li a {
        color: #FFF; }

/**
* The Application Header
*/
/**
	*	navbar
	*/
.navbar-default {
  background: transparent;
  border: none;
  border-radius: 0px 0px 0px 0px;
  z-index: 2px; }
  .navbar-default.navbar {
    margin-bottom: 0px; }
  .navbar-default > .container {
    width: 83.5%; }
  .navbar-default.affix-header {
    background: #FFF;
    top: 0px;
    width: 100%;
    transition: top 0.5s ease 0s;
    -webkit-transition: top 0.5s ease 0s;
    -moz-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s; }
  .navbar-default button {
    border: none; }
    .navbar-default button .icon-bar {
      color: #e67e22; }
  .navbar-default .navbar-brand {
    color: #d35400; }
    .navbar-default .navbar-brand:hover {
      color: #e74c3c;
      transition: ease-in-out 0.2s all; }
    .navbar-default .navbar-brand:not(:hover) {
      transition: ease-in-out 0.2s all; }
  .navbar-default .nav li a {
    color: #e67e22; }
    .navbar-default .nav li a:hover {
      color: #e74c3c;
      transition: ease-in-out 0.2s all; }
    .navbar-default .nav li a:not(:hover) {
      transition: ease-in-out 0.2s all; }
  .navbar-default .nav li.dropdown .dropdown-menu {
    background: #fff;
    min-width: 167px; }
    .navbar-default .nav li.dropdown .dropdown-menu li a {
      color: #e67e22; }
      .navbar-default .nav li.dropdown .dropdown-menu li a:hover {
        color: #e74c3c;
        transition: ease-in-out 0.2s all; }
      .navbar-default .nav li.dropdown .dropdown-menu li a:not(:hover) {
        transition: ease-in-out 0.2s all; }

.sidebar-btn {
  position: absolute;
  top: 0px;
  right: 40px;
  height: 50px;
  width: 50px;
  padding: 18px; }
  .sidebar-btn:hover {
    color: #FFF;
    transition: ease-in-out 0.2s all; }
  .sidebar-btn:not(:hover) {
    transition: ease-in-out 0.2s all; }
  .sidebar-btn .fa {
    color: #e67e22;
    font-size: 20px;
    cursor: pointer; }
    .sidebar-btn .fa:hover {
      color: #e74c3c;
      transition: ease-in-out 0.2s all; }
    .sidebar-btn .fa:not(:hover) {
      transition: ease-in-out 0.2s all; }

.settings-sidebar {
  height: 100%;
  width: 0%;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9999; }
  .settings-sidebar .close-settings-btn {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px; }
    .settings-sidebar .close-settings-btn .fa {
      color: #e67e22;
      font-size: 28px;
      cursor: pointer; }
      .settings-sidebar .close-settings-btn .fa:hover {
        color: #e74c3c;
        transition: ease-in-out 0.2s all; }
      .settings-sidebar .close-settings-btn .fa:not(:hover) {
        transition: ease-in-out 0.2s all; }
  .settings-sidebar .sidebar-user-container {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF; }
    .settings-sidebar .sidebar-user-container .name-container {
      padding-top: 25px; }
  .settings-sidebar .sidebar-nav {
    padding: 20px 0px 20px 0px; }
    .settings-sidebar .sidebar-nav a {
      display: block;
      color: #e67e22;
      border-bottom: 1px solid #ddd;
      padding: 5px 20px 5px 20px; }
      .settings-sidebar .sidebar-nav a:hover {
        background: #e67e22;
        color: #FFF;
        transition: ease-in-out 0.2s all; }
      .settings-sidebar .sidebar-nav a:not(:hover) {
        transition: ease-in-out 0.2s all; }

/**
 * settings header wrapper
 */
.container-fluid.manage-header {
  width: 100%;
  height: auto;
  background: #f7f7f9;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 0px 0px 10px 15px; }
  .container-fluid.manage-header .inner-header {
    width: 83.3%; }

/**
 * manage sidebar
 */
.manage-sidebar-wrapper {
  height: auto; }
  .manage-sidebar-wrapper .account-navigation ul {
    list-style-type: none; }
    .manage-sidebar-wrapper .account-navigation ul li {
      padding: 10px 0px 10px 0px; }
      .manage-sidebar-wrapper .account-navigation ul li.section {
        font-size: 15px;
        border-bottom: 1px solid #e5e5e5; }
      .manage-sidebar-wrapper .account-navigation ul li.nav-item {
        font-size: 13px;
        border-bottom: 1px solid #e5e5e5; }
      .manage-sidebar-wrapper .account-navigation ul li a {
        color: #000; }
        .manage-sidebar-wrapper .account-navigation ul li a:hover {
          color: #D35400;
          transition: ease-in-out 0.2s all; }
        .manage-sidebar-wrapper .account-navigation ul li a:not(:hover) {
          transition: ease-in-out 0.2s all; }

/**
*	application mobile header 
*/
/**
	*	header wrapper
	*
	*	@property => height
	*	@property => width
	*	@property => background-color
	*	@property => border-bottom
	*	@property => position(fixed)
	*/
.bloodDivisionMobileAppHeaderWrapper {
  height: 60px;
  background: #2c3e50;
  border-bottom: 2px solid #000;
  z-index: 2;
  width: auto;
  /**
			*	inner header wrapper
			*
			*	@property => padding
			*/ }
  .bloodDivisionMobileAppHeaderWrapper .innerHeaderWrapper {
    padding: 0px;
    /**
					*	brand container wrapper
					*
					*	@property => margin-top
					*	@property => padding
					*/
    /**
					*	nav container wrapper	
					*
					*	@property => height
					*	@property => border-left
					*	@property => padding
					*	@property => cursor
					*/ }
    .bloodDivisionMobileAppHeaderWrapper .innerHeaderWrapper .brandContainerWrapper {
      margin-top: 5px;
      /**
							*	brand link 
							*
							*	@property => color
							*	@property => padding
							*	@property => text-decoration
							*/ }
      .bloodDivisionMobileAppHeaderWrapper .innerHeaderWrapper .brandContainerWrapper a {
        color: #fff;
        padding: 0px 0px 0px 30px;
        text-decoration: none; }
    .bloodDivisionMobileAppHeaderWrapper .innerHeaderWrapper .navContainerWrapper {
      height: 58px;
      border-left: 1px solid #fff;
      padding: 19px 10px 10px 24px;
      cursor: pointer;
      /**
							*	Tasks button
							*
							*	@class => openNavCcontainer
							*	
							*	@property => font-size
							*	@property => color
							*/ }
      .bloodDivisionMobileAppHeaderWrapper .innerHeaderWrapper .navContainerWrapper .openNavContainer {
        font-size: 20px;
        color: #fff; }

/**
	*	nav container	
	*	
	*	@property => position:fixed
	*	@property => background-color
	*	@property => width
	*	@property => height
	*/
.bloodDivisionMobileNavContainer {
  height: 800px;
  background: #2c3e50;
  margin-top: 60px;
  color: #fff;
  display: none;
  z-index: 1;
  width: auto;
  /**
			*	menu wrapper
			*
			*	@property => padding
			*	@property => height
			*/ }
  .bloodDivisionMobileNavContainer .bloodDivisionMenu {
    height: auto;
    padding: 0px;
    /**
					*	menu tab 
					*
					*	@property => list-style-type
					*	@property => border-bottom
					*/ }
    .bloodDivisionMobileNavContainer .bloodDivisionMenu .menuTab {
      list-style-type: none;
      border-bottom: 1px solid #fff;
      padding: 20px 10px 20px 10px;
      /**
							*	avatar container
							*
							*	@property => padding
							*/
      /**
							*	messageContainer
							*
							*	@property => padding
							*/ }
      .bloodDivisionMobileNavContainer .bloodDivisionMenu .menuTab .welcomeMessage {
        padding: 10px 0px 0px 0px; }

/**
*	Views
*/
/*
	* about
	*/
/*
* about page
*/
/*
	* wrapper
	*/
.container.about-wrapper {
  font-family: 'Lato';
  padding-top: 60px;
  background: #FFF;
  width: 100%;
  padding: 0px 30px 0px 30px;
  margin-top: -20px;
  /*
			* the author
			*/
  /*
			* author social medias
			*/ }
  .container.about-wrapper .author {
    padding: 10px; }
  .container.about-wrapper .socials {
    text-align: center;
    padding-bottom: 30px; }
    .container.about-wrapper .socials a {
      color: #000;
      font-size: 35px;
      padding: 0px 20px 0px 20px; }
      .container.about-wrapper .socials a:hover {
        color: #C0392B;
        transition: ease-in-out 0.2s all; }
      .container.about-wrapper .socials a:not(:hover) {
        transition: ease-in-out 0.2s all; }

/**
	* events
	*/
/**
* events stylesheet
*/
/**
	* app events wrapper
	*/
.container-fluid.app-events-wrapper {
  height: auto;
  width: 100%;
  /**
			* events inner wrapper
			*/ }
  .container-fluid.app-events-wrapper .events-inner-wrapper {
    /**
					* events header wrapper
					*/
    /**
					* events content wrapper
					*/ }
    .container-fluid.app-events-wrapper .events-inner-wrapper .events-header-wrapper {
      height: 45px;
      border-bottom: 1px solid #000;
      width: 75%;
      margin-top: 0px;
      /**
							* events header => desktop
							*/
      /**
							* events header => mobile
							*/ }
      .container-fluid.app-events-wrapper .events-inner-wrapper .events-header-wrapper .events-header {
        padding: 0px;
        /**
									* search evnts field
									*/ }
    .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper {
      @extends .events-header-wrapper;
      margin-top: -20px;
      /**
							* timeline wrapper
							*/ }
      .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
        /**
									* before
									*/
        /**
									* timeline item
									*/ }
        .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper:before {
          top: 0;
          bottom: 0;
          position: absolute;
          content: " ";
          width: 3px;
          background: #eeeeee;
          left: 25px;
          margin-right: -1.5px; }
        .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper .timeline-item {
          margin-bottom: 240px;
          position: relative;
          /**
											* before
											*/
          /**
											* after
											*/
          /**
											* badge/avatar
											*/
          /**
											* timeline panel
											*/ }
          .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper .timeline-item:before {
            display: table;
            content: " "; }
          .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper .timeline-item:after {
            clear: both; }
          .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper .timeline-item .timeline-avatar-badge {
            color: #FFF;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 6px;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 0px;
            margin-right: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%; }
          .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper .timeline-item .timeline-panel {
            width: 65%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            left: 8%;
            /**
													* before
													*/ }
            .container-fluid.app-events-wrapper .events-inner-wrapper .events-content-wrapper .timeline-wrapper .timeline-item .timeline-panel:before {
              position: absolute;
              top: 26px;
              left: -15px;
              display: inline-block;
              border-top: 15px solid transparent;
              border-right: 15px solid #ccc;
              border-left: 0 solid #ccc;
              border-bottom: 15px solid transparent;
              content: " "; }

/**
	*	Feed page
	*/
/**
*	Feed page styles 
*/
/**
	*	Wrapper
	*/
.bloodDivisionFeedWrapper {
  padding-top: 50px;
  font-size: 14px;
  z-index: 0;
  /**
			*	the feed container
			*/ }
  .bloodDivisionFeedWrapper .bloodDivisionFeedRow {
    height: auto;
    width: 80%;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
    margin: 45px 20px 40px 139px;
    /**
					*	feed user avatar 
					*/
    /**
					*	feed container
					*/
    /**
							*	feed arrow pointer to the avatar image
							*/ }
    .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedAvatar {
      /**
							*	The avatar
							*/ }
      .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedAvatar .avatar {
        height: 75px;
        width: 75px;
        margin: 0px 10px 0px 40px;
        border: 2px solid #ddd; }
    .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedContainer {
      padding: 20px;
      height: auto;
      background: #dddddd;
      margin: 0px 0px 0px 75px;
      /*
			*	Internet Explorer
			*	Google Chrome Browser
			*	Mozilla Firefox Browser
			*	Opera, Safari Browser
			*/
      border-radius: 10px 10px 10px 10px;
      /**
							*	Username row
							*/
      /**
							*	user feed message
							*/
      /**
							*	delete button wrapper
							*/ }
      .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedContainer .userNameRow, .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedContainer .userFeedMessage {
        padding: 0px 20px 0px 20px; }
      .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedContainer .editDeleteContainer a {
        position: absolute;
        top: 11px;
        right: 20px; }
        .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedContainer .editDeleteContainer a .delete .fa {
          font-size: 18px;
          color: floralwhite; }
    .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedArrow {
      position: relative;
      background: #ddd;
      border: 4px solid #ddd;
      /**
									*	After
									*/ }
      .bloodDivisionFeedWrapper .bloodDivisionFeedRow .feedArrow:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0px;
        width: 0px;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #ddd;
        border-width: 15px;
        margin-top: -15px;
        top: -54px;
        left: -54px; }
  .bloodDivisionFeedWrapper .noFeedErrorMessageContainer {
    width: 100%;
    margin: 0px 262px 20px auto;
    background: #7f8c8d;
    min-height: 900%;
    border: none;
    color: #fff; }
    .bloodDivisionFeedWrapper .noFeedErrorMessageContainer .attachFormContainer {
      display: none; }
  .bloodDivisionFeedWrapper .messageBorder {
    width: 63%;
    border: 1px solid #000;
    margin: 0px 262px 20px auto; }

/**
	*	mobile feed wrapper
	*/
.mobileFeedWrapper {
  height: auto;
  width: auto;
  /**
			*	feed panel container
			*/ }
  .mobileFeedWrapper .feedPanelContainer {
    @extends .mobielFeedWrapper;
    /**
					*	the feed container
					*/ }
    .mobileFeedWrapper .feedPanelContainer .feedContainer {
      /**
							*	feed heading
							*/ }
      .mobileFeedWrapper .feedPanelContainer .feedContainer .feedHeading {
        height: 65px;
        /**
									*	avatar container
									*/
        /*.avatarContainer{
											width:auto;
										}*/
        /**
									*	user container
									*/ }
        .mobileFeedWrapper .feedPanelContainer .feedContainer .feedHeading .user_userSettingsContainer {
          padding: 15px; }

/**
	*	create feed wrapper  
	*/
.createFeedWrapper {
  height: auto;
  width: 857px;
  margin: 0px auto;
  /**
			*	the feed form
			*/ }
  .createFeedWrapper .bloodDivisionFeedForm {
    /**
					*	the text area field
					*/ }
    .createFeedWrapper .bloodDivisionFeedForm .bloodDivisionFeedField {
      height: 40px;
      opacity: 0.5; }
      .createFeedWrapper .bloodDivisionFeedForm .bloodDivisionFeedField:focus {
        border: 1px solid #e74c3c; }
    .createFeedWrapper .bloodDivisionFeedForm .remainingContainer {
      margin-top: 20px;
      width: 100%;
      padding: 5px;
      border-radius: none;
      position: fixed;
      bottom: -26px;
      left: 0px;
      text-align: center; }
      .createFeedWrapper .bloodDivisionFeedForm .remainingContainer .alert.alert-danger {
        border-radius: none;
        background: #C0392B;
        color: #fff; }
      .createFeedWrapper .bloodDivisionFeedForm .remainingContainer .alert.alert-warning {
        border-radius: none;
        background: #e67e22;
        color: #fff; }
      .createFeedWrapper .bloodDivisionFeedForm .remainingContainer .alert.alert-success {
        border-radius: none;
        background: #2ecc71;
        color: #fff; }

/**
	*	main page
	*/
/**
*	main page content styles
*/
/**
	*	content banner wrapper
	*/
.container-fluid.content-wrapper {
  min-height: 500px;
  width: 100%;
  margin-top: -20px;
  font-size: 12px;
  /*
			* welcome user container
			*/
  /**
			*	sidebar
			*/
  /**
			*	right sidebar
			*/ }
  .container-fluid.content-wrapper a {
    color: #000; }
  .container-fluid.content-wrapper .welcome-user-container {
    width: 100%;
    padding: 20px;
    border: 1px solid #ECECEC;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #fff; }
    .container-fluid.content-wrapper .welcome-user-container .userimage img {
      height: 55px;
      width: 55px; }
    .container-fluid.content-wrapper .welcome-user-container .welcomeMessage p {
      font-size: 12px;
      display: inline;
      margin-left: 10px; }
  .container-fluid.content-wrapper .sidebar-partial {
    padding: 70px;
    background: #fff;
    width: 16.4%;
    margin: 40px 0px 0px 50px;
    border: 1px solid #ddd; }
    .container-fluid.content-wrapper .sidebar-partial .link-container {
      margin-bottom: 25px; }
  .container-fluid.content-wrapper .right-content {
    min-height: auto;
    background: #fff;
    width: 100%;
    padding: 34px;
    border: 1px solid #ddd;
    /**
					*	rows
					*/ }
    .container-fluid.content-wrapper .right-content .latest-events-row .event-row {
      margin-top: 10px;
      border-bottom: 1px solid #000;
      border: none; }
      .container-fluid.content-wrapper .right-content .latest-events-row .event-row:after {
        margin: 15px 0px 15px 0px; }
      .container-fluid.content-wrapper .right-content .latest-events-row .event-row .event-user-info {
        padding-top: 20px; }
        .container-fluid.content-wrapper .right-content .latest-events-row .event-row .event-user-info img {
          border: 2px solid #8e44ad;
          border-radius: 50px 50px 50px 50px; }
          .container-fluid.content-wrapper .right-content .latest-events-row .event-row .event-user-info img:hover {
            border-color: #2ecc71;
            transition: ease-in-out 0.2s all; }

/**
	*	Login Page
	*/
/**
*	Blood Division Login page
*/
@-webkit-keyframes btnWitdh {
  from {
    width: 0px; }
  to {
    width: 100px; } }

.auth-btn {
  border: none;
  border-radius: 0px 0px 0px 0px; }
  .auth-btn:hover {
    background: #EE7326;
    transition: ease-in-out 0.2s all; }
  .auth-btn:not(:hover) {
    transition: ease-in-out 0.2s all; }

.login-email-tutorial {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  background: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 15px; }

.login-password-tutorial {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  background: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 15px; }

.warning-hint {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  color: #FFF;
  text-align: center;
  padding: 15px;
  background: #e74c3c;
  /**
		 * closing hint btn
		 */ }
  .warning-hint .closeErrorBtn {
    cursor: pointer; }

/**
	* helper modal
	*/
.modal {
  color: #FFF;
  background: #000;
  opacity: 0.9;
  /**
			* close btn
			*/ }
  .modal .close {
    font-size: 50px;
    display: block;
    color: #FFF;
    /**
				    * closing icon
				    */ }
    .modal .close .fa {
      color: #FFF; }

.auth-login-helper {
  cursor: pointer; }

/**
	 * manage page
	 */
/**
 * user manage page
 */
.container-fluid.manage-wrapper {
  height: 100%;
  width: 100%;
  /**
	  	 * sidebar
	  	 */
  /**
	  	 * content 
	  	 */ }
  .container-fluid.manage-wrapper .manage-sidebar-wrapper {
    min-height: 500px;
    border-left: 1px solid #e5e5e5; }
  .container-fluid.manage-wrapper .manage-content-wrapper {
    min-height: 500px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px; }
    .container-fluid.manage-wrapper .manage-content-wrapper .row {
      margin: 10px 10px 10px 10px;
      border-bottom: 1px solid #e5e5e5; }
      .container-fluid.manage-wrapper .manage-content-wrapper .row .form-group {
        margin: 0px 0px 10px 0px;
        padding: 20px 0px 60px 0px;
        height: auto;
        width: 100%; }
        .container-fluid.manage-wrapper .manage-content-wrapper .row .form-group .form-label {
          padding-top: 6px; }
        .container-fluid.manage-wrapper .manage-content-wrapper .row .form-group .input .form-control {
          background: #FFF;
          border: 1px solid #F39C12;
          margin-top: 20px; }
        .container-fluid.manage-wrapper .manage-content-wrapper .row .form-group .input .show-avatar {
          display: none;
          height: auto;
          padding: 15px;
          background: #fff;
          margin: 0px 0px 10px 0px; }

/**
	* profile page
	*/
/**
* profile stylesheet
*/
.btn {
  border-radius: 0px 0px 0px 0px;
  background: #f39c12;
  text-decoration: uppercase;
  border: none;
  color: #FFF; }
  .btn:hover {
    background: #e74c3c;
    color: #FFF;
    transition: ease-in-out 0.2s all; }
  .btn:not(:hover) {
    transition: ease-in-out 0.2s all; }

.form-control {
  border-radius: 0px 0px 0px 0px;
  border: none;
  background: #BDC3C7; }
  .form-control:placeholder-shown {
    color: #fff; }

/**
 	* profile wrapper
 	*/
.container-fluid.profile-banner-wrapper {
  height: auto;
  width: 100%;
  padding: 40px 40px 0px 40px;
  background: #777;
  padding-top: 100px;
  color: #e9eaed;
  margin-top: -20px;
  color: #FFF;
  /**
 			 * overlay
 			 */
  /**
 			* inner profile wrapper
 			*/ }
  .container-fluid.profile-banner-wrapper .overlay {
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; }
  .container-fluid.profile-banner-wrapper .inner-profile-wrapper {
    width: 65%;
    color: #FFF;
    /**
 					* the banner 
 					*/
    /**
 					 * edit cover 
 					 */ }
    .container-fluid.profile-banner-wrapper .inner-profile-wrapper .edit-profile-cover {
      position: absolute;
      top: 55px;
      left: -68px;
      padding: 5px;
      background: #fff;
      color: #000; }
      .container-fluid.profile-banner-wrapper .inner-profile-wrapper .edit-profile-cover:hover {
        left: 0px;
        transition: ease-in-out 0.2 all; }
      .container-fluid.profile-banner-wrapper .inner-profile-wrapper .edit-profile-cover:not(:hover) {
        transition: ease-in-out 0.2 all; }
    .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner {
      height: 100%;
      width: 100%;
      color: #FFF;
      /**
 							* profile-media
 							*/
      /**
 							* profile-information
 							*/
      /**
 							* the banner footer
 							*/ }
      .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media {
        /**
									* profile image
									*/
        /**
		 							* profile edit btn
		 							*/ }
        .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .profile-image {
          height: 200px;
          width: 200px;
          margin: 0px 25px 0px 25px;
          border: 10px solid #34495e; }
          .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .profile-image:hover {
            border-color: #13747D;
            transition: ease-in-out 0.2s all; }
          .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .profile-image:not(:hover) {
            transition: ease-in-out 0.2s all; }
        .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .edit-profile {
          padding-top: 3px;
          /**
											* edit img link
											*/ }
          .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .edit-profile .edit-img-link {
            height: auto;
            width: auto;
            color: #000;
            padding: 10px 41px 10px 22px;
            margin: -3px 0px 0px 40px;
            color: #FFF;
            /**
													* hover class
													*/
            /**
													* not hover class
													*/ }
            .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .edit-profile .edit-img-link:hover {
              background: #34495e;
              opacity: 0.8;
              color: #FFF;
              transition: ease-in-out 0.2s all; }
            .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-media .edit-profile .edit-img-link:not(:hover) {
              transition: ease-in-out 0.2s all; }
      .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-information {
        /**
 									* user name
 									*/ }
        .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .profile-information .profile-name {
          padding-bottom: 0px;
          margin-bottom: 27px;
          margin-top: -20px; }
      .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .banner-footer-wrapper {
        height: 50px;
        margin-top: 70px;
        /**
 									* inner banner-footer-wrapper
 									*/ }
        .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .banner-footer-wrapper .inner-banner-footer-wrapper {
          padding: 15px;
          /**
 											* profile-list
 											*/ }
          .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .banner-footer-wrapper .inner-banner-footer-wrapper .profile-listing {
            padding: 0px;
            /**
 													* the link container
 													*/ }
            .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .banner-footer-wrapper .inner-banner-footer-wrapper .profile-listing .profile-link {
              height: 100%;
              padding-left: 20px;
              /**
															* link
															*/ }
              .container-fluid.profile-banner-wrapper .inner-profile-wrapper .banner .banner-footer-wrapper .inner-banner-footer-wrapper .profile-listing .profile-link a {
                color: #fff;
                font-size: 12px; }

/**
 	* the profile content wrapper
 	*/
.container-fluid.profile-content-wrapper {
  width: 100%;
  height: auto;
  background: #E9EAED;
  padding: 0px 0px 10px 0px;
  z-index: 1;
  /**
 			* inner profile content wrapper
 			*/ }
  .container-fluid.profile-content-wrapper .inner-profile-content-wrapper {
    width: 66.66666667%;
    height: auto;
    font-size: 12px;
    padding-top: 20px;
    /**
 					 * home content wrapper
 					 */
    /**
						 * description container
						 */
    /**
						 * games wrapper
						 */
    /**
					* the events wrapper
					*/
    /**
					* timeline 
					*/
    /**
					* create event wrapper
					*/
    /**
					* create-profile-event
					*/ }
    .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .about-profile {
      padding: 25px;
      background: #FFF;
      margin: 0px 0px 20px 0px; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .about-profile .row {
        padding-bottom: 10px;
        border-bottom: 1px solid #E9EAED; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .about-profile .buttons {
        padding-top: 20px;
        height: 50px;
        width: 100%; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .about-profile .user-description {
        width: 100%;
        height: auto; }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .about-profile .user-description .edit_description_form {
          margin: 20px auto 0px auto;
          border-top: 1px solid #E9EAED;
          width: 80%; }
          .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .about-profile .user-description .edit_description_form .submit {
            color: #fff; }
    .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .games-wrapper {
      padding: 25px;
      background: #FFF; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .games-wrapper .game-container {
        margin: 10px auto 10px auto; }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .games-wrapper .game-container img {
          height: 150px;
          width: 150px; }
    .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .events-wrapper {
      padding-top: 10px;
      /**
							* event
							*/
      /**
							* no events container
							*/ }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .events-wrapper .no-events-container {
        /**
									* font awesome exclamation circle icon
									*/ }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .events-wrapper .no-events-container .fa-exclamation-circle {
          font-size: 50px; }
    .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;
      /**
						    * before
						    */
      /**
						    * timeline item
						    */ }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 25px;
        margin-right: -1.5px; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline .timeline-item {
        margin-bottom: 240px;
        position: relative;
        /**
    								* badge
    								*/
        /**
    								* timeline panel
    								*/ }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline .timeline-item:before {
          display: table;
          content: " "; }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline .timeline-item:after {
          clear: both; }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline .timeline-item .timeline-badge {
          color: #fff;
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 1.4em;
          text-align: center;
          position: absolute;
          top: 16px;
          left: 0px;
          margin-right: -25px;
          background-color: #999999;
          z-index: 100;
          border-top-right-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%; }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline .timeline-item .timeline-panel {
          width: calc( 100% - 75px);
          float: right;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          padding: 20px;
          position: relative;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          /**
										    * before
										    */ }
          .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .profile-timeline .timeline-item .timeline-panel:before {
            position: absolute;
            top: 26px;
            left: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-right: 15px solid #ccc;
            border-left: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " "; }
    .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-event-wrapper {
      padding-top: 10px;
      /**
							* helper modal
							*/ }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-event-wrapper .modal {
        color: #FFF;
        background: #000;
        opacity: 0.9;
        /**
									* close btn
									*/ }
        .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-event-wrapper .modal .close {
          font-size: 50px;
          display: block;
          /**
										    * closing icon
										    */ }
          .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-event-wrapper .modal .close .fa {
            color: #FFF; }
    .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-profile-event {
      color: #000; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-profile-event:hover {
        border-color: #e74c3c;
        color: #fff;
        background: #e74c3c;
        transition: ease-in-out 0.2s all; }
      .container-fluid.profile-content-wrapper .inner-profile-content-wrapper .create-profile-event:not(:hover) {
        transition: ease-in-out 0.2s all; }

/**
	*	registration page
	*/
/**
 * the registration page
 */
/**
		 * hints 
		 */
/**
			 * the name hint
			 */
.register-hint {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  background: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 15px; }

/**
		 * errors
		 */
.warning-hint {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  background: #e74c3c;
  color: #fff;
  text-align: center;
  padding: 15px; }
  .warning-hint .closeErrorBtn {
    cursor: pointer; }

/**
	* helper modal
	*/
.modal {
  color: #FFF;
  background: #000;
  opacity: 0.9;
  /**
			* close btn
			*/ }
  .modal .close {
    font-size: 50px;
    display: block;
    color: #FFF;
    /**
				    * closing icon
				    */ }
    .modal .close .fa {
      color: #FFF; }

/**
	*	Members page
	*/
/**
*	Team view styles
*/
/**
	*	memmbers wrapper	
	*/
.container-fluid.members-content-wrapper {
  min-height: auto;
  width: 100%;
  padding: 75px 25px 25px 25px;
  /**
			*	members-row
			*/ }
  .container-fluid.members-content-wrapper .members-row {
    /**
					*	member wrapper
					*/ }
    .container-fluid.members-content-wrapper .members-row .member-wrapper {
      padding: 20px;
      background: #2c3e50;
      border: 5px solid #fff;
      color: #FFF; }
      .container-fluid.members-content-wrapper .members-row .member-wrapper:hover {
        background: #ddd;
        color: #000;
        transition: ease-in-out 0.2s all; }
      .container-fluid.members-content-wrapper .members-row .member-wrapper:not(:hover) {
        transition: ease-in-out 0.2s all; }
      .container-fluid.members-content-wrapper .members-row .member-wrapper .member-picture-wrapper .img {
        border: 1px solid #000;
        height: 200px;
        width: 200px; }

/**
*	landing page stylesheet
*/
/**
	*	welcome wrapper
	*/
.container-fluid.blooddivision-welcome-wrapper {
  width: 100%;
  height: auto;
  margin: 0px;
  z-index: 1;
  padding-bottom: 150px;
  background: url("../images/swb1.jpg") center center;
  -ms-background-size: cover;
  background-size: cover;
  /**
			*	the banner wrapper
			*/
  /**
			*	Platform wrapper
			*/
  /**
			*	see more wrapper
			*/ }
  .container-fluid.blooddivision-welcome-wrapper #video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    top: -40px;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background: url(/images/swtor1.jpg) no-repeat; }
  .container-fluid.blooddivision-welcome-wrapper .banner-wrapper {
    padding-top: 50px; }
  .container-fluid.blooddivision-welcome-wrapper .platform-wrapper {
    /**
					*	xbox platform container
					*/
    /**
					*	windows platform
					*/ }
    .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .xbox-platform-container {
      padding: 10px;
      /**
							*	platform logo
							*/ }
      .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .xbox-platform-container img {
        margin: 0px 0px 0px 35px; }
    .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .windows-platform-container {
      padding: 10px;
      margin-left: 22%;
      /**
							*	platform logo
							*/ }
      .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .windows-platform-container img {
        margin: 0px 0px 0px 25px; }
  .container-fluid.blooddivision-welcome-wrapper .see-more-wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    /**
					*	down arrow
					*/ }
    .container-fluid.blooddivision-welcome-wrapper .see-more-wrapper .caret-down {
      margin-left: 49%;
      font-size: 25px;
      /**
							*	link
							*/ }
      .container-fluid.blooddivision-welcome-wrapper .see-more-wrapper .caret-down .fa {
        color: #FFF; }

/*
	* mobile platform wrapper
	*/
.container-fluid.mobile-platform-wrapper {
  height: 400px;
  width: auto;
  background: #2c3e50;
  color: #fff;
  margin-bottom: 20px; }

/**
	*	about section wrapper
	*/
.container-fluid.blooddivision-about-wrapper {
  width: 100%;
  height: auto;
  z-index: 2;
  background: #FFF;
  padding-top: 30px;
  /**
			*	the inner wrapper 
			*/ }
  .container-fluid.blooddivision-about-wrapper .inner-about-wrapper {
    height: auto;
    width: auto;
    padding: 40px;
    /**
					*	icon container
					*/ }
    .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
      /**
							*	the icon
							*/ }
      @media screen and (max-width: 320px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 50px !important; } }
      @media screen and (max-width: 480px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 130px !important; } }
      @media screen and (max-width: 568px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 175px !important; } }
      @media screen and (max-width: 375px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 80px !important; } }
      @media screen and (max-width: 667px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 230px !important; } }
      @media screen and (max-width: 414px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 80px !important; } }
      @media screen and (max-width: 736px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 230px !important; } }
      .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column .fa {
        font-size: 6em;
        text-align: center; }

/**
	*	signup oppurtinity wrapper
	*/
.container-fluid.signup-oppurtunity-wrapper {
  height: 650px;
  width: 100%;
  background: url("../images/profile_cover/halopic2.jpg") center center;
  -ms-background-size: cover;
  background-size: cover;
  color: #FFF;
  /**
			*	signup wrapper
			*/ }
  .container-fluid.signup-oppurtunity-wrapper .signup-wrapper {
    /**
					*	know more row
					*/
    /**
					*	social media row
					*/
    /**
					*	want to signup row
					*/ }
    .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .know-more-row {
      padding-top: 20px;
      border-bottom: 1px solid #fff; }
    .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row {
      padding-top: 30px; }
      .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row .btn {
        background: #eee;
        border-bottom: 3px solid #e74c3c;
        width: 100%;
        margin: 0px auto;
        border-left: none;
        border-top: none;
        border-right: none;
        color: #000; }
        .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row .btn:hover {
          color: #fff;
          background: #e74c3c;
          transition: ease-in-out 0.2s all; }
        .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row .btn:not(:hover) {
          transition: ease-in-out 0.2s all; }
    .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .wantTo-signup-row {
      padding-top: 15px; }
      .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .wantTo-signup-row a {
        color: #fff; }

/**
* scrollTop Container
*/
.scrollTopContainer {
  height: 50px;
  width: 50px;
  background: #2C3E50;
  border: 1px solid #e74c3c;
  position: fixed;
  top: 180px;
  right: -50px;
  padding: 5px 0px 5px 13px;
  /**
		* arrow
		*/ }
  .scrollTopContainer a {
    font-size: 20px;
    color: #fff; }
    .scrollTopContainer a:hover {
      -webkit-animation: rotate(360);
      animation: rotate(360);
      transition: ease-in-out 0.2s all; }
    .scrollTopContainer a:not(:hover) {
      transition: ease-in-out 0.2s all; }

#app-layout {
  padding-bottom: 0px;
  background: #E9EAED;
  overflow-x: hidden; }
  #app-layout .overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000;
    opacity: 0.8;
    display: none;
    z-index: 9999; }
  #app-layout .btn {
    border-radius: 0px 0px 0px 0px;
    background: #f39c12;
    text-decoration: uppercase;
    border: none;
    color: #FFF; }
    #app-layout .btn:hover {
      background: #e74c3c;
      color: #FFF;
      transition: ease-in-out 0.2s all; }
    #app-layout .btn:not(:hover) {
      transition: ease-in-out 0.2s all; }
  #app-layout .form-control {
    border-radius: 0px 0px 0px 0px;
    border: none;
    background: #BDC3C7; }
    #app-layout .form-control:placeholder-shown {
      color: #fff; }

#profile {
  background: #E9EAED; }

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #000;
  opacity: 0.5;
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%; }

.none {
  display: none; }

#search .container-fluid.search-wrapper {
  width: 100%;
  height: 100%;
  padding: 0px; }
  #search .container-fluid.search-wrapper .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    opacity: 0.8;
    display: none;
    height: 100%;
    width: 100%; }
  #search .container-fluid.search-wrapper p {
    font-size: 13px;
    padding-left: 15px; }
  #search .container-fluid.search-wrapper .header {
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: 52px;
    top: -60px; }
    #search .container-fluid.search-wrapper .header .title {
      margin-top: -3px; }
    #search .container-fluid.search-wrapper .header .form-control {
      background: #FFF;
      border: 1px solid #ccc; }
    #search .container-fluid.search-wrapper .header .results {
      width: 91.5%;
      height: 300px;
      background: #FFF;
      position: absolute;
      top: 34px;
      z-index: 9999;
      margin-left: 40px;
      overflow-y: scroll;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
      #search .container-fluid.search-wrapper .header .results .result {
        padding: 10px 40px 10px 40px; }
        #search .container-fluid.search-wrapper .header .results .result:hover {
          background: #e5e5e5; }
    #search .container-fluid.search-wrapper .header .categories {
      padding-top: 6px;
      padding-left: 0px; }
      #search .container-fluid.search-wrapper .header .categories span {
        margin-left: 8px;
        font-size: 11px; }
    #search .container-fluid.search-wrapper .header .blue {
      height: 5px;
      width: 25%;
      position: absolute;
      top: 52px;
      left: 0px;
      background: #3498DB; }
    #search .container-fluid.search-wrapper .header .green {
      height: 5px;
      width: 25%;
      position: absolute;
      top: 52px;
      left: 25%;
      background: #2ecc71; }
    #search .container-fluid.search-wrapper .header .red {
      height: 5px;
      width: 25%;
      position: absolute;
      top: 52px;
      left: 50%;
      background: #e74c3c; }
    #search .container-fluid.search-wrapper .header .orange {
      height: 5px;
      width: 25%;
      position: absolute;
      top: 52px;
      left: 75%;
      background: #f39c12; }
  #search .container-fluid.search-wrapper .container-fluid.search-results-banner {
    min-height: 586px;
    width: 100%;
    background: #000;
    background: url("../../images/architecture-1048092_1920.jpg") center center;
    background-size: cover;
    color: #FFF;
    padding: 114px 0px 0px 0px; }
    #search .container-fluid.search-wrapper .container-fluid.search-results-banner .banner-search {
      padding: 75px 40px 0px 40px; }
      #search .container-fluid.search-wrapper .container-fluid.search-results-banner .banner-search .banner-form .banner-search-input {
        background: #FFF;
        border: 1px solid #ccc; }
      #search .container-fluid.search-wrapper .container-fluid.search-results-banner .banner-search .banner-form .results {
        width: 99.6%;
        height: 150px;
        background: #FFF;
        position: absolute;
        top: 34px;
        z-index: 9999;
        margin-left: -36px;
        overflow-y: scroll;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        color: #000; }
        #search .container-fluid.search-wrapper .container-fluid.search-results-banner .banner-search .banner-form .results .result {
          padding: 10px 40px 10px 40px; }
          #search .container-fluid.search-wrapper .container-fluid.search-results-banner .banner-search .banner-form .results .result:hover {
            background: #e5e5e5; }
  #search .container-fluid.search-wrapper .content {
    width: 63%;
    padding-top: 70px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #fff; }
    #search .container-fluid.search-wrapper .content .result {
      padding: 10px;
      margin: 10px 0px 10px 0px; }
      #search .container-fluid.search-wrapper .content .result:hover {
        background: #ddd; }
      #search .container-fluid.search-wrapper .content .result .media a img {
        height: 150px;
        width: 150px; }
      #search .container-fluid.search-wrapper .content .result .media .media-body h4 {
        margin-left: 14px; }
    #search .container-fluid.search-wrapper .content .affix {
      left: 63.5%;
      width: 17%;
      top: 81px; }
    #search .container-fluid.search-wrapper .content .category {
      border-bottom: 1px solid #e5e5e5; }

/**
*	landing page stylesheet
*/
/**
	*	welcome wrapper
	*/
.container-fluid.blooddivision-welcome-wrapper {
  width: 100%;
  height: auto;
  margin: 0px;
  z-index: 1;
  padding-bottom: 150px;
  background: url("../images/swb1.jpg") center center;
  -ms-background-size: cover;
  background-size: cover;
  /**
			*	the banner wrapper
			*/
  /**
			*	Platform wrapper
			*/
  /**
			*	see more wrapper
			*/ }
  .container-fluid.blooddivision-welcome-wrapper #video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    top: -40px;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background: url(/images/swtor1.jpg) no-repeat; }
  .container-fluid.blooddivision-welcome-wrapper .banner-wrapper {
    padding-top: 50px; }
  .container-fluid.blooddivision-welcome-wrapper .platform-wrapper {
    /**
					*	xbox platform container
					*/
    /**
					*	windows platform
					*/ }
    .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .xbox-platform-container {
      padding: 10px;
      /**
							*	platform logo
							*/ }
      .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .xbox-platform-container img {
        margin: 0px 0px 0px 35px; }
    .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .windows-platform-container {
      padding: 10px;
      margin-left: 22%;
      /**
							*	platform logo
							*/ }
      .container-fluid.blooddivision-welcome-wrapper .platform-wrapper .windows-platform-container img {
        margin: 0px 0px 0px 25px; }
  .container-fluid.blooddivision-welcome-wrapper .see-more-wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    /**
					*	down arrow
					*/ }
    .container-fluid.blooddivision-welcome-wrapper .see-more-wrapper .caret-down {
      margin-left: 49%;
      font-size: 25px;
      /**
							*	link
							*/ }
      .container-fluid.blooddivision-welcome-wrapper .see-more-wrapper .caret-down .fa {
        color: #FFF; }

/*
	* mobile platform wrapper
	*/
.container-fluid.mobile-platform-wrapper {
  height: 400px;
  width: auto;
  background: #2c3e50;
  color: #fff;
  margin-bottom: 20px; }

/**
	*	about section wrapper
	*/
.container-fluid.blooddivision-about-wrapper {
  width: 100%;
  height: auto;
  z-index: 2;
  background: #FFF;
  padding-top: 30px;
  /**
			*	the inner wrapper 
			*/ }
  .container-fluid.blooddivision-about-wrapper .inner-about-wrapper {
    height: auto;
    width: auto;
    padding: 40px;
    /**
					*	icon container
					*/ }
    .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
      /**
							*	the icon
							*/ }
      @media screen and (max-width: 320px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 50px !important; } }
      @media screen and (max-width: 480px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 130px !important; } }
      @media screen and (max-width: 568px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 175px !important; } }
      @media screen and (max-width: 375px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 80px !important; } }
      @media screen and (max-width: 667px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 230px !important; } }
      @media screen and (max-width: 414px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 80px !important; } }
      @media screen and (max-width: 736px) {
        .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column {
          padding-left: 230px !important; } }
      .container-fluid.blooddivision-about-wrapper .inner-about-wrapper .icon-column .fa {
        font-size: 6em;
        text-align: center; }

/**
	*	signup oppurtinity wrapper
	*/
.container-fluid.signup-oppurtunity-wrapper {
  height: 650px;
  width: 100%;
  background: url("../images/profile_cover/halopic2.jpg") center center;
  -ms-background-size: cover;
  background-size: cover;
  color: #FFF;
  /**
			*	signup wrapper
			*/ }
  .container-fluid.signup-oppurtunity-wrapper .signup-wrapper {
    /**
					*	know more row
					*/
    /**
					*	social media row
					*/
    /**
					*	want to signup row
					*/ }
    .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .know-more-row {
      padding-top: 20px;
      border-bottom: 1px solid #fff; }
    .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row {
      padding-top: 30px; }
      .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row .btn {
        background: #eee;
        border-bottom: 3px solid #e74c3c;
        width: 100%;
        margin: 0px auto;
        border-left: none;
        border-top: none;
        border-right: none;
        color: #000; }
        .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row .btn:hover {
          color: #fff;
          background: #e74c3c;
          transition: ease-in-out 0.2s all; }
        .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .social-media-row .btn:not(:hover) {
          transition: ease-in-out 0.2s all; }
    .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .wantTo-signup-row {
      padding-top: 15px; }
      .container-fluid.signup-oppurtunity-wrapper .signup-wrapper .wantTo-signup-row a {
        color: #fff; }

/**
* scrollTop Container
*/
.scrollTopContainer {
  height: 50px;
  width: 50px;
  background: #2C3E50;
  border: 1px solid #e74c3c;
  position: fixed;
  top: 180px;
  right: -50px;
  padding: 5px 0px 5px 13px;
  /**
		* arrow
		*/ }
  .scrollTopContainer a {
    font-size: 20px;
    color: #fff; }
    .scrollTopContainer a:hover {
      -webkit-animation: rotate(360);
      animation: rotate(360);
      transition: ease-in-out 0.2s all; }
    .scrollTopContainer a:not(:hover) {
      transition: ease-in-out 0.2s all; }

/*# sourceMappingURL=app.css.map */
