.b-1{
	border: 1px;
}

.b-2{
	border:2px;
}

.b-3{
	border:3px;
}

.b-4{
	border:4px;
}

.b-5{
	border:5px;
}

.b-solid{
	border-style:solid;
}

.b-blue{
	border-color: #2980b9;
}

.b-red{
	border-color: #e74c3c;
}

.b-dark-blue{
	border-color: #34495e;
}

.b-darker-blue{
	border-color: #2c3e50;
}