/**
 * paddings
 */

.p-10{
	padding:10px;
}

.p-15{
	padding:15px;
}

.p-20{
	padding:20px;
}

.p-25{
	padding:25px;
}

.p-30{
	padding:30px;
}

.p-35{
	padding:35px;
}

.p-40{
	padding:40px;
}

.p-45{
	padding:45px;
}

.p-50{
	padding:50px;
}

.p-55{
	padding:55px;
}

.p-60{
	padding:60px;
}

.p-65{
	padding:65px;
}

.p-70{
	padding:70px;
}

.p-75{
	padding:75px;
}

.p-80{
	padding:30px;
}

.p-85{
	padding:85px;
}

.p-90{
	padding:90px;
}

.p-95{
	padding:95px;
}

.p-100{
	padding:100px;
}

.p-perc-10{
	padding:10%;
}

.p-perc-15{
	padding:15%;
}

.p-perc-20{
	padding:20%;
}

.p-perc-25{
	padding:25%;
}

.p-perc-30{
	padding:30%;
}

.p-perc-35{
	padding:35%;
}

.p-perc-40{
	padding:40%;
}

.p-perc-45{
	padding:45%;
}

.p-perc-50{
	padding:50%;
}

.p-perc-55{
	padding:55%;
}

.p-perc-60{
	padding:60%;
}

.p-perc-65{
	padding:65%;
}

.p-perc-70{
	padding:70%;
}

.p-perc-75{
	padding:75%;
}

.p-perc-80{
	padding:30%;
}

.p-perc-85{
	padding:85%;
}

.p-perc-90{
	padding:90%;
}

.p-perc-95{
	padding:95%;
}

.p-perc-100{
	padding:100%;
}

/**
 * left
 */

.p-left-10{
	padding-left:10px;
}

.p-left-15{
	padding-left:15px;
}

.p-left-20{
	padding-left:20px;
}

.p-left-25{
	padding-left:25px;
}

.p-left-30{
	padding-left:30px;
}

.p-left-35{
	padding-left:35px;
}

.p-left-40{
	padding-left:40px;
}

.p-left-45{
	padding-left:45px;
}

.p-left-50{
	padding-left:50px;
}

.p-left-55{
	padding-left:55px;
}

.p-left-60{
	padding-left:60px;
}

.p-left-65{
	padding-left:65px;
}

.p-left-70{
	padding-left:70px;
}

.p-left-75{
	padding-left:75px;
}

.p-left-80{
	padding-left:30px;
}

.p-left-85{
	padding-left:85px;
}

.p-left-90{
	padding-left:90px;
}

.p-left-95{
	padding-left:95px;
}

.p-left-100{
	padding-left:100px;
}

.p-left-perc-10{
	padding-left:10%;
}

.p-left-perc-15{
	padding-left:15%;
}

.p-left-perc-20{
	padding-left:20%;
}

.p-left-perc-25{
	padding-left:25%;
}

.p-left-perc-30{
	padding-left:30%;
}

.p-left-perc-35{
	padding-left:35%;
}

.p-left-perc-40{
	padding-left:40%;
}

.p-left-perc-45{
	padding-left:45%;
}

.p-left-perc-50{
	padding-left:50%;
}

.p-left-perc-55{
	padding-left:55%;
}

.p-left-perc-60{
	padding-left:60%;
}

.p-left-perc-65{
	padding-left:65%;
}

.p-left-perc-70{
	padding-left:70%;
}

.p-left-perc-75{
	padding-left:75%;
}

.p-left-perc-80{
	padding-left:30%;
}

.p-left-perc-85{
	padding-left:85%;
}

.p-left-perc-90{
	padding-left:90%;
}

.p-left-perc-95{
	padding-left:95%;
}

.p-left-perc-100{
	padding-left:100%;
}

/**
 * right
 */

.p-right-10{
	padding-right:10px;
}

.p-right-15{
	padding-right:15px;
}

.p-right-20{
	padding-right:20px;
}

.p-right-25{
	padding-right:25px;
}

.p-right-30{
	padding-right:30px;
}

.p-right-35{
	padding-right:35px;
}

.p-right-40{
	padding-right:40px;
}

.p-right-45{
	padding-right:45px;
}

.p-right-50{
	padding-right:50px;
}

.p-right-55{
	padding-right:55px;
}

.p-right-60{
	padding-right:60px;
}

.p-right-65{
	padding-right:65px;
}

.p-right-70{
	padding-right:70px;
}

.p-right-75{
	padding-right:75px;
}

.p-right-80{
	padding-right:30px;
}

.p-right-85{
	padding-right:85px;
}

.p-right-90{
	padding-right:90px;
}

.p-right-95{
	padding-right:95px;
}

.p-right-100{
	padding-right:100px;
}

.p-right-perc-10{
	padding-right:10%;
}

.p-right-perc-15{
	padding-right:15%;
}

.p-right-perc-20{
	padding-right:20%;
}

.p-right-perc-25{
	padding-right:25%;
}

.p-right-perc-30{
	padding-right:30%;
}

.p-right-perc-35{
	padding-right:35%;
}

.p-right-perc-40{
	padding-right:40%;
}

.p-right-perc-45{
	padding-right:45%;
}

.p-right-perc-50{
	padding-right:50%;
}

.p-right-perc-55{
	padding-right:55%;
}

.p-right-perc-60{
	padding-right:60%;
}

.p-right-perc-65{
	padding-right:65%;
}

.p-right-perc-70{
	padding-right:70%;
}

.p-right-perc-75{
	padding-right:75%;
}

.p-right-perc-80{
	padding-right:30%;
}

.p-right-perc-85{
	padding-right:85%;
}

.p-right-perc-90{
	padding-right:90%;
}

.p-right-perc-95{
	padding-right:95%;
}

.p-right-perc-100{
	padding-right:100%;
}

/**
 * top
 */

.p-top-10{
	padding-top:10px;
}

.p-top-15{
	padding-top:15px;
}

.p-top-20{
	padding-top:20px;
}

.p-top-25{
	padding-top:25px;
}

.p-top-30{
	padding-top:30px;
}

.p-top-35{
	padding-top:35px;
}

.p-top-40{
	padding-top:40px;
}

.p-top-45{
	padding-top:45px;
}

.p-top-50{
	padding-top:50px;
}

.p-top-55{
	padding-top:55px;
}

.p-top-60{
	padding-top:60px;
}

.p-top-65{
	padding-top:65px;
}

.p-top-70{
	padding-top:70px;
}

.p-top-75{
	padding-top:75px;
}

.p-top-80{
	padding-top:30px;
}

.p-top-85{
	padding-top:85px;
}

.p-top-90{
	padding-top:90px;
}

.p-top-95{
	padding-top:95px;
}

.p-top-100{
	padding-top:100px;
}

.p-top-perc-10{
	padding-top:10%;
}

.p-top-perc-15{
	padding-top:15%;
}

.p-top-perc-20{
	padding-top:20%;
}

.p-top-perc-25{
	padding-top:25%;
}

.p-top-perc-30{
	padding-top:30%;
}

.p-top-perc-35{
	padding-top:35%;
}

.p-top-perc-40{
	padding-top:40%;
}

.p-top-perc-45{
	padding-top:45%;
}

.p-top-perc-50{
	padding-top:50%;
}

.p-top-perc-55{
	padding-top:55%;
}

.p-top-perc-60{
	padding-top:60%;
}

.p-top-perc-65{
	padding-top:65%;
}

.p-top-perc-70{
	padding-top:70%;
}

.p-top-perc-75{
	padding-top:75%;
}

.p-top-perc-80{
	padding-top:30%;
}

.p-top-perc-85{
	padding-top:85%;
}

.p-top-perc-90{
	padding-top:90%;
}

.p-top-perc-95{
	padding-top:95%;
}

.p-top-perc-100{
	padding-top:100%;
}

/**
 * bottom
 */

.p-bottom-10{
	padding-bottom:10px;
}

.p-bottom-15{
	padding-bottom:15px;
}

.p-bottom-20{
	padding-bottom:20px;
}

.p-bottom-25{
	padding-bottom:25px;
}

.p-bottom-30{
	padding-bottom:30px;
}

.p-bottom-35{
	padding-bottom:35px;
}

.p-bottom-40{
	padding-bottom:40px;
}

.p-bottom-45{
	padding-bottom:45px;
}

.p-bottom-50{
	padding-bottom:50px;
}

.p-bottom-55{
	padding-bottom:55px;
}

.p-bottom-60{
	padding-bottom:60px;
}

.p-bottom-65{
	padding-bottom:65px;
}

.p-bottom-70{
	padding-bottom:70px;
}

.p-bottom-75{
	padding-bottom:75px;
}

.p-bottom-80{
	padding-bottom:30px;
}

.p-bottom-85{
	padding-bottom:85px;
}

.p-bottom-90{
	padding-bottom:90px;
}

.p-bottom-95{
	padding-bottom:95px;
}

.p-bottom-100{
	padding-bottom:100px;
}

.p-bottom-perc-10{
	padding-bottom:10%;
}

.p-bottom-perc-15{
	padding-bottom:15%;
}

.p-bottom-perc-20{
	padding-bottom:20%;
}

.p-bottom-perc-25{
	padding-bottom:25%;
}

.p-bottom-perc-30{
	padding-bottom:30%;
}

.p-bottom-perc-35{
	padding-bottom:35%;
}

.p-bottom-perc-40{
	padding-bottom:40%;
}

.p-bottom-perc-45{
	padding-bottom:45%;
}

.p-bottom-perc-50{
	padding-bottom:50%;
}

.p-bottom-perc-55{
	padding-bottom:55%;
}

.p-bottom-perc-60{
	padding-bottom:60%;
}

.p-bottom-perc-65{
	padding-bottom:65%;
}

.p-bottom-perc-70{
	padding-bottom:70%;
}

.p-bottom-perc-75{
	padding-bottom:75%;
}

.p-bottom-perc-80{
	padding-bottom:30%;
}

.p-bottom-perc-85{
	padding-bottom:85%;
}

.p-bottom-perc-90{
	padding-bottom:90%;
}

.p-bottom-perc-95{
	padding-bottom:95%;
}

.p-bottom-perc-100{
	padding-bottom:100%;
}
