/**
*	blood division footer
*/

	/**
	*	footer wrapper
	*/

		.blooddivision-footer-wrapper{
			font-size:.9em;
			height:auto;
			width: 100%;
			background: #000;
			color: #FFF;
			padding: 20px;
			
			/**
			*	inner footer wrapper
			*/ 

				.inner-footer-wrapper{
					
					width:100%;
					
					ul{
						list-style-type:none;
						padding:0px; 
						
						li{
							a{
								color: #FFF; 
							}
						}
					}
				}
		}