/**
*	application main stylesheet
*/

*{
	box-sizing: border-box;
}

// base variables
	@import 'vars/_all';
	
// mixins
	@import 'mixins/_all';
	
// blood division partials
	@import 'app/_partials/_all';

// views
	@import 'app/views/_all';
	
// landing page stylesheet
	@import 'welcome';
	
#app-layout{
	padding-bottom:0px;
	background: #E9EAED; 
}

#profile{
	background: #E9EAED; 
}