/**
*	application main stylesheet
*/

*{
	box-sizing: border-box;
}

// base variables
	@import 'vars/_all';
	
// mixins
	@import 'mixins/_all';
	
// blood division partials
	@import 'app/_partials/_all';

// views
	@import 'app/views/_all';
	
// landing page stylesheet
	@import 'welcome';
	
#app-layout{
	padding-bottom:0px;
	background: #E9EAED; 
	overflow-x:hidden;
	.overlay{
		position:fixed;
		top: 0px;
		bottom:0px;
		left: 0px;
		right:0px;
		background: #000;
		opacity: 0.8;
		display:none;
		z-index:9999;
	}
	.btn{
		-webkit-border-radius: 0px 0px 0px 0px; 
		border-radius: 0px 0px 0px 0px;
		background: #f39c12;
		text-decoration: uppercase;
		border:none;
		color: #FFF; 
		&:hover{
			background: #e74c3c;
			color: #FFF; 
			-webkit-transition:ease-in-out 0.2s all;
			 -moz-transition:ease-in-out 0.2s all;
			 -ms-transition:ease-in-out 0.2s all;
			 -o-transition:ease-in-out 0.2s all;
			 transition:ease-in-out 0.2s all; 
		}

		&:not(:hover){
			-webkit-transition:ease-in-out 0.2s all;
			 -moz-transition:ease-in-out 0.2s all;
			 -ms-transition:ease-in-out 0.2s all;
			 -o-transition:ease-in-out 0.2s all;
			 transition:ease-in-out 0.2s all; 
		}
	}

	.form-control{
		-webkit-border-radius: 0px 0px 0px 0px; 
		border-radius: 0px 0px 0px 0px;
		border:none;
		background: #BDC3C7; 
		
		&:placeholder-shown{
			color: #fff; 
		}
	}
}

#profile{
	background: #E9EAED; 
	
}

.overlay{
		position:fixed;
		top: 0px;
		bottom:0px;
		left: 0px;
		right:0px;
		background: #000;
		opacity: 0.8;
		display:none;
		z-index:9999;
		height: 100%;
		width: 100%;  
	}

.none{
	display:none;
}

#search{
	.container-fluid.search-wrapper{
		width: 100%;
		height: 100%;
		padding: 0px; 
		
		p{
			font-size:13px;
			padding-left:15px;
		}
		.header{
			padding-top:10px;
			margin-bottom:10px;
			background: #e5e5e5;
			width: 100%; 
			
			.form-control{
				background: #FFF;
				border:1px solid #ccc; 
			}

			.categories{
				padding-top:8px;
				
				span{
					margin-left:1px;
				}
			}
		} 

		.content{
			width:65%;
			
			.result{
				padding: 0px 10px 0px 10px;
				&:hover{
					background: #ddd;
				}
			}
		} 
	}
}