/**
*	Blood Division desktop footer partial
*/

	/**
	*	Wrapper
	*/

		.container-fluid.blooddivision-footer-wrapper{
			min-height:100px;
			width: 100%;
			background: #ddd;
			color: #000;
			border-top:1px solid #000;
			font-family: 'Exo 2', sans-serif;
		
			/*
			* inner wrapper
			*/	
		
				.inner-footer-wrapper{
					width:75%;
				
				}
		}